[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "conflibertR"]
	path = conflibertR
	url = https://github.com/shreyasmeher/conflibertr
